certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.4.9
cryptography==50.0.0
et_xmlfile==2.0.0
idna==3.18
msal==1.37.0
numpy==2.5.1
openpyxl==3.1.5
pandas==3.0.5
pycparser==3.0
PyJWT==2.13.0
PyMySQL==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
SQLAlchemy==2.0.51
typing_extensions==4.16.0
urllib3==2.7.0
